{% extends 'main/layout.html' %}

{% block titleblock %}О приложении{% endblock %}

{% block headpageblock %}<h1>О приложении</h1>{% endblock %}

{% block bodyblock %}
    <div class="div0">
        <div class="div_head">
            <h1>О приложении</h1>
        </div>
        <div class="div_main">
            <p class="p_list"><b>Пиложение создано в рамках задачи "Итоговый проект (vo_PJ)" по дисциплине "II. Углубленное программирование на Python".</b><br><br>
            <b>Назначение приложения:</b><br>
            Введение пользователем данных о расходах и доходах, хранение введённых данных, группировка данных по категориям и типам операций и вывод сгруппированных данных на страницу.<br><br>
            <b>Реализован функционал:</b><br>
            - 5 страниц с общим шаблоном;<br>
            - 2 таблицы CSS стилей;<br>
            - 3 модели;<br>
            - форма введения данных;<br>
            - сохранение введённых в форму данных в БД;<br>
            - вывод введённых в форму данных на страницу приложения;<br>
            - вывод сгруппированных данных на страницу приложения, с имользованием Pandas.</p>
            <a class="btn btn-primary" href="/">На главную страницу</a>
        </div>
    </div>
{% endblock %}